<div class="container-address-index" data-controller="dropdown">

    <h1 class="my-addresses">My addresses</h1>
    <div class="green-line"></div>

    <div class="add-new-address-1" >
      <i class="material-symbols-outlined">add_circle</i>
      <%= link_to "Add a new address", new_address_path, style: "text-decoration: none;" %>
    </div>

    <div class="grey-line"></div>

    <% @addresses.each do|address| %>
      <div class="info-card">
        <div class="house-icon">
          <i class="material-symbols-outlined">apartment</i>
        </div>

        <div class="address-link">
          <a href="/addresses/<%=address.id%>" ><strong><%= address.name %></strong></a>
          <p><%= address.address %></p>
        </div>

        <div class="dropdown">
          <div class="dropdown-1">
            <span data-action="click->dropdown#toggle" class="material-symbols-outlined" type="button" id="<%= address.id %>">more_vert</span>
          </div>



              <%# <a  href="#">Share </a> %>


          <div class="dropdownmenu" id="menu-<%= address.id %>">

            <div data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
              <input class="form-control hide-input" data-clipboard-target="input" type="text" value="<%= address_url(address) %>" readonly>
              <div class="input-group-append">
              <button id="copy-button" class="dropdown-item" data-action="click->clipboard#copy">Copy addres url to Clipboard</button>
              </div>
            </div>

            <%= link_to "Edit", edit_address_path(address), class: "dropdown-item" %>
            <%= link_to "Delete", address_path(address), class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>

      <%# <h3 class= see address>  <%= link_to "show address", address_path(address) %></h3>
    <% end %>

</div>

            <%# <a class="dropdown-item" href "#"edit>Edit</a> %>
