
<div class="big-container-new-address">
  <div class="container-new-address">

    <div class="create-form">

      <%= simple_form_for(@address) do |f| %>

        <div>
        <h2>Please insert your address</h2>
          <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
        </div>


        <div class="text-input">
        <h3><%#= address.address %></h3>
          <h2>Give your address a name</h2>
          <% f.label :name %>
          <%= f.text_field :name %>
          <button>next</button>
        </div>

        <br><br><br><br>

        <div class="container-kind-of-place">

          <div class="container-kind-of-place-1">
            <h2>What kind of place is this?</h2>
            <h5>Help us find your location faster.</h5>
          </div>

          <div class="container-4-cards">
            <div class="medium-card">
              <i class="material-icons-round">home</i>
              <h3>Home</h3>
            </div>

            <div class="medium-card">
              <i class="material-icons-round">apartment</i>
              <h3>Apartment</h3>
            </div>

            <div class="medium-card">
              <i class="material-icons-round">domain</i>
              <h3>Office</h3>
            </div>

            <div class="medium-card">
              <i class="material-icons-round">forest</i>
              <h3>Other</h3>
            </div>
          </div>
        </div>

          <div class="text-input">
            <%= f.label :kind_of_place %>
            <%= f.text_field :kind_of_place %>
          </div>


        <br><br><br><br>


        <div class="container-4-cards">
          <div class="medium-card">
            <i class="material-icons-round">home</i>
            <h3>Home</h3>
          </div>

          <div class="medium-card">
            <i class="material-icons-round">apartment</i>
            <h3>Apartment</h3>
          </div>

          <div class="medium-card">
            <i class="material-icons-round">domain</i>
            <h3>Office</h3>
          </div>

          <div class="medium-card">
            <i class="material-icons-round">forest</i>
            <h3>Other</h3>
          </div>
        </div>

        <div class="text-input">
          <%= f.label :place_in_building %>
          <%= f.text_field :place_in_building %>
        </div>

        <br><br><br><br>

        <div class="text-input">
          <%= f.label :floor %>
          <%= f.text_field :floor %>
        </div>

        <br><br><br><br>  

         <div class="container-2-cards">
          <div class="medium-card">
            <i class="material-icons-round">home</i>
            <h3>Home</h3>
          </div>

          <div class="medium-card">
            <i class="material-icons-round">apartment</i>
            <h3>Apartment</h3>
          </div>
        </div>


        <div class="elevator-1">
          <%= f.label :elevator, "Elevator" %>
          <%= f.check_box :elevator %>
        </div>

        <br><br><br><br>

        <div class="text-input">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <br><br><br><br>

        <div>
          <%= f.label :image %>
          <%= f.input :photo, as: :file %>
         </div>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
