
<div class="big-container-new-address">
  <div class="container-new-address">

    <div class="create-form">

      <%= simple_form_for(@address) do |f| %>

        <div class="text-input">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="text-input">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>

        <div class="text-input">
          <%= f.label :kind_of_place %>
          <%= f.text_field :kind_of_place %>
        </div>

        <div class="text-input">
          <%= f.label :place_in_building %>
          <%= f.text_field :place_in_building %>
        </div>

        <div class="text-input">
          <%= f.label :floor %>
          <%= f.text_field :floor %>
        </div>

        <div class="elevator-1">
          <%= f.label :elevator, "Elevator" %>
          <%= f.check_box :elevator %>
        </div>

        <div class="text-input">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div>
          <%= f.label :image %>
          <%= f.input :photo, as: :file %>
        </div>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
