<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container-show-address">
  <div>
    <div data-controller="map"
      id="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style="width: 100%; height: 600px;"
      >
    </div>

    <div class="address-show">
      <h2><strong><%= @address.name %></strong></h2>
      <h3><%= @address.address %></h3>
    </div>

      <%# <p>Type of the building: = @address.kind_of_place</p> %>

      <div class="other-info">

        <div class="place-in-building">
          <i class="material-symbols-outlined" >apartment</i>
          <h3><strong><%= @address.place_in_building %></strong></h3>
        </div>

        <div class="floor">
          <h3><strong><%= @address.floor %>th floor</h3></strong>
        </div>

        <div class="elevator">
          <% if @address.elevator %>
            <i class="material-symbols-outlined">elevator</i>
            <h3><strong>Elevator</strong></h3>
          <% else %>
            <i class="material-symbols-outlined">stairs</i>
            <h3><strong>Stairs</strong></h3>
          <% end %>
        </div>

      </div>

      <h4 class="description"><strong>Description: </strong><%= @address.description %></h4>
      <% if @address.photo.attached? %>
        <%= cl_image_tag @address.photo.key, height: 300, width: 400 %>
      <% else %>
        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-6.png" alt="">
      <%end %>
      <%#= link_to "My addresses", addresses_path %>

    <div class="show-buttons">
      <a><%= link_to "Edit my address", edit_address_path, class: "btn btn-1" %></a>
      <a><%= link_to "Delete address", address_path(@address),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-2" %>
      </a>
    </div>

  </div>
</div>
