<h1>This is the show page</h1>

<h2><%= @address.name %></h2>
<p><%= @address.address %></p>
<p><%= @address.kind_of_place %></p>
<p><%= @address.place_in_building %></p>
<p><%= @address.floor %></p>
<p><%= @address.elevator %></p>
<p><%= @address.description %></p>
<%= cl_image_tag @address.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to "My addresses", addresses_path %>


<%= link_to "Edit my address", edit_address_path %>


<div data-controller="map"
  id="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style="width: 100%; height: 300px;">
</div>


  <div class = "delete-button1">
      <%= link_to "Delete address", address_path(@address),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>

